<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.hiri">

    <uses-permission android:name="android.permission.INTERNET LocationDemoActivity.java " />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Hos_resultActivity"></activity>
        <activity android:name=".view_hosActivity" />
        <activity android:name=".search_hosActivity" />
        <activity android:name=".findphaActivity" />
        <activity android:name=".findhospActivity" />
        <activity android:name=".find_hos_pha" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="42d4840398761db5a6e772e49a51bb55" />
    </application>

</manifest>